
body {
    color: white;
}
div {
  backround: url("https://www.tripsite.com/cruises/site/assets/files/1632/beijingfood-flbillholler.jpeg");
  backround-size: 100px;
  backround-repeat: no-reapeat;
}
